In [4]:
import pandas as pd

df = pd.read_csv('REFUSAL_ENTRY_2014-October2023.csv', encoding='ISO-8859-1')

df

,MFG_FIRM_FEI_NUM,LGL_NAME,LINE1_ADRS,LINE2_ADRS,CITY_NAME,PROVINCE_STATE,ISO_CNTRY_CODE,PRODUCT_CODE,REFUSAL_DATE,DISTRICT,ENTRY_NUM,RFRNC_DOC_ID,LINE_NUM,LINE_SFX_ID,FDA_SAMPLE_ANALYSIS,PRIVATE_LAB_ANALYSIS,REFUSAL_CHARGES,PRDCT_CODE_DESC_TEXT
0,3016998564,"xinyayuan biotech co., ltd",Standard Building 8,Zhusong; Intensive Processing Zone Of Agricult...,Chengdu,Sichuan,CN,25RGH99,9-Oct-20,DNEI,EKH-0734521-1,72,1,NaN,No,No,249,"MUSHROOMS AND OTHER FUNGI PRODUCTS, BROKEN OR ..."
1,3016638548,TRIPLE CROWN FOODS INC,26 Main St Ste A,NaN,Kings Park,NY,US,25JFD24,7-Apr-20,DSEI,EKM-0147848-3,11,36,NaN,No,No,249,GINGER ROOT (ROOT & TUBER VEGETABLE)
2,3014453449,Three Squirrels Inc.,No. 8 Jiusheng Road,"High Tech Industrial Development Zone, Yijiang...",Wuhu,Anhui,CN,33LGT12,27-Aug-19,DWCI,EKU-0054443-4,182,1,NaN,No,No,"324, 473","MIXED/ASSORTED SOFT CANDY WITHOUT NUTS, FRUIT ..."
3,2000005205,Pablo Ignacio Michel Ontiveros,Quintana Roo 1611,Col. Guadalupana,Guadalajara,Jalisco,MX,23BGT07,23-Oct-17,DSWI,EMK-0028113-4,11,2,NaN,Yes,No,"11, 256, 274","PEANUT, SHELLED"
4,3013071463,"Shantou Olive Pharmaceutical Co.,Ltd",NO. 4 Chaoshanlu Xixiang,Jinping,Shantou,Guangdong,CN,66VBY99,29-Jun-16,LOS-DO,EPG-3005802-1,1,36,NaN,No,No,"72, 218, 238, 328","MISCELLANEOUS PATENT MEDICINES, ETC."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163878,3015850818,"ANHUI XINONG PHARMA CO., LTD.","No. 9 Buwen Road Anhui, China",NaN,Anqing,Anhui,CN,21HMH05,29-Jun-22,DNEI,9R3-0012720-8,242,1,NaN,No,Yes,249,"DATES, DRIED OR PASTE"
163879,3026837464,PERFETTI VAN MELLE BRASIL LTDA,Av Douter Antonio Joaoabdalla Lote A Quadra 0 ...,NaN,Cajamar,NaN,BR,33EGT11,3-Oct-23,DSEI,9ST-0008090-7,11,2,NaN,No,No,218,"MINT CANDY, HARD, WITHOUT NUTS AND FRUIT (WIT..."
163880,3014503460,"LINHAI CITY CHUANCHENG GLASSES CO.,LTD","Fengxi Duqiao,Linhai City,Zhejiang",NaN,Linhai Zhejiang,NaN,CN,86HQY,6-Apr-20,DWCI,9T2-0042246-2,12,1,NaN,No,No,235,SUNGLASSES (NON-PRESCRIPTION INCLUDING PHOTOSE...
163881,3003965192,"Industria Guatemalteca De Macadamia,S.A.","Diagonal 6m 10-65, Zona 10planta Alta",NaN,Guatemala,NaN,GT,23BEC18,24-Oct-22,DSWI,9UA-0280065-6,11,3,NaN,No,No,9,"MACADAMIA, SHELLED"
163882,3012453481,COMERCIALIZADORA PEPSICO,Eje Vial 1 Poniente (Calzada Vallejo) No 734,"Col. Coltongo, Azcapotzalco",Ciudad De Mexico,Ciudad de Mexico,MX,07BDB02,1-Apr-22,DSWI,9UG-0104516-6,11,3,NaN,No,No,"11, 274, 324","CORN CHIPS, FRIED"

In [20]:
selected_columns = df.loc[:, ['ISO_CNTRY_CODE','PROVINCE_STATE','CITY_NAME', 'ENTRY_NUM']]

grouped_df = selected_columns.groupby(['ISO_CNTRY_CODE','PROVINCE_STATE','CITY_NAME'])['ENTRY_NUM'].count().reset_index()

grouped_df.to_csv('country_violations_2014-2023.csv', index=False)

country_violations_df = pd.read_csv('country_violations_2014-2023.csv')

country_violations_df

      ISO_CNTRY_CODE PROVINCE_STATE   CITY_NAME  ENTRY_NUM
0                 AE          AE-AJ       AJMAN          3
1                 AE          AE-DU       Dubai          1
2                 AE          AE-DU       Dubay          3
3                 AE          AE-DU       Jedda          1
4                 AE        AE-NOTA   Abu Dhabi         13
...              ...            ...         ...        ...
11352             ZM         Lusaka      Lusaka          2
11353             ZW       Bulawayo    Bulawayo          9
11354             ZW         Harare      Harare         12
11355             ZW         Harare  Workington          1
11356             ZW          ZW-HA      Harare          5

[11357 rows x 4 columns]

In [6]:
# print the REFUSAL DATE column
df['REFUSAL_DATE']
print(df['REFUSAL_DATE'])

# Convert the REFUSAL DATE column to datetime type
df['REFUSAL_DATE'] = pd.to_datetime(df['REFUSAL_DATE'])

# Extract the MONTH from the column
df['MONTH'] = df['REFUSAL_DATE'].dt.month
print(df['MONTH'])

# Extract the YEAR from the column
df['YEAR'] = df['REFUSAL_DATE'].dt.year
print(df['YEAR'])

# print the columns showing the newly added Month and Year columns
df.columns

0          9-Oct-20
1          7-Apr-20
2         27-Aug-19
3         23-Oct-17
4         29-Jun-16
            ...
163878    29-Jun-22
163879     3-Oct-23
163880     6-Apr-20
163881    24-Oct-22
163882     1-Apr-22
Name: REFUSAL_DATE, Length: 163883, dtype: object
0         10
1          4
2          8
3         10
4          6
          ..
163878     6
163879    10
163880     4
163881    10
163882     4
Name: MONTH, Length: 163883, dtype: int64
0         2020
1         2020
2         2019
3         2017
4         2016
          ...
163878    2022
163879    2023
163880    2020
163881    2022
163882    2022
Name: YEAR, Length: 163883, dtype: int64

Index(['MFG_FIRM_FEI_NUM', 'LGL_NAME', 'LINE1_ADRS', 'LINE2_ADRS', 'CITY_NAME',
       'PROVINCE_STATE', 'ISO_CNTRY_CODE', 'PRODUCT_CODE', 'REFUSAL_DATE',
       'DISTRICT', 'ENTRY_NUM', 'RFRNC_DOC_ID', 'LINE_NUM', 'LINE_SFX_ID',
       'FDA_SAMPLE_ANALYSIS', 'PRIVATE_LAB_ANALYSIS', 'REFUSAL_CHARGES',
       'PRDCT_CODE_DESC_TEXT', 'MONTH', 'YEAR'],
      dtype='object')

In [26]:
grouped_df

# Get the additional columns to a new dataframe and add to a new .csv file
additional_columns = df.loc[:, [ 'YEAR', 'MONTH', 'ISO_CNTRY_CODE','PROVINCE_STATE','CITY_NAME']]

grouped_addtl_cols_df = additional_columns.groupby(['YEAR', 'MONTH', 'ISO_CNTRY_CODE','PROVINCE_STATE','CITY_NAME']).count().reset_index()

grouped_addtl_cols_df.to_csv('country_violations_year_month_2014-2023.csv')

grouped_addtl_cols_df

       YEAR  MONTH ISO_CNTRY_CODE   PROVINCE_STATE               CITY_NAME
0      2014      1             AF           AF-KAB                   Kabul
1      2014      1             AR     Buenos Aires        Jose Leon Suarez
2      2014      1             AU  New South Wales            Melrose Park
3      2014      1             AU       Queensland              Caboolture
4      2014      1             AU  South Australia            Mawson Lakes
...     ...    ...            ...              ...                     ...
42493  2023     10             VN   Di An District              Di An Ward
42494  2023     10             VN      Ho Chi Minh               HOCHIMINH
42495  2023     10             VN         Hoa Binh      Luong Son District
42496  2023     10             VN            VN-41                 Ben Luc
42497  2023     10             VN          VN-NOTA  Ham Thuan Nam District

[42498 rows x 5 columns]

In [46]:

# Group the data by 'ISO_CNTRY_CODE', 'CITY_NAME', 'PROVINCE_STATE' and count the number of rows to get the number of violations
most_violations_city = df.groupby(['ISO_CNTRY_CODE', 'CITY_NAME', 'PROVINCE_STATE']).size().reset_index(name='VIOLATION_COUNT')

# Sort the results to find the entry with the most violations
most_violations_city_sorted = most_violations_city.sort_values(by='VIOLATION_COUNT', ascending=False)

# Display the top entry
display(most_violations_city_sorted.head(1))

     ISO_CNTRY_CODE         CITY_NAME    PROVINCE_STATE  VIOLATION_COUNT
7380             MX  Ciudad De Mexico  Ciudad de Mexico             3192

§ Task: What are the 10 most frequent products in the IRR for 2018 (using 'PRDCT_CODE_DESC_TEXT')?

In [10]:
import pandas as pd

products_df = pd.read_csv('REFUSAL_ENTRY_2014-October2023.csv', encoding='ISO-8859-1')

products_df[['PRDCT_CODE_DESC_TEXT']]

top_products = products_df[['PRDCT_CODE_DESC_TEXT']].value_counts()

print('Here is the top 10 most frequent products in the IRR for 2018:')
display(top_products.head(11))

Here is the top 10 most frequent products in the IRR for 2018:

PRDCT_CODE_DESC_TEXT
MISCELLANEOUS PATENT MEDICINES, ETC.                                                                 6831
SUNGLASSES (NON-PRESCRIPTION INCLUDING PHOTOSENSITIVE)                                               3563
VITAMIN, MINERAL, PROTEINS AND UNCONVENTIONAL DIETARY SPECIALITIES FOR HUMANS AND ANIMALS, N.E.C.    3445
LENSES, SOFT CONTACT, DAILY WEAR                                                                     2219
HERBALS & BOTANICALS (NOT TEAS), N.E.C.                                                              1936
CORN CHIPS, FRIED                                                                                    1907
TUNA (ALBACORE, YELLOWFIN, BLUEFIN, SKIPJACK, ETC.)                                                  1796
DEVICE, EXTERNAL PENILE RIGIDITY                                                                     1715
SHRIMP AND PRAWNS, AQUACULTURE HARVESTED FISHERY/SEAFOOD PRODUCTS                                    1666
BATH SOAPS AND DETERGENTS (NOT ANTIPERSPIRANT) (PERSONAL CLEANLINESS)                                1292
LENS, CONTACT (DISPOSABLE)                                                                           1280
dtype: int64

Task: BONUS (+1 point) What was the company associated with the largest violation in a single month?

In [13]:
company_violations_df = pd.read_csv('REFUSAL_ENTRY_2014-October2023.csv', encoding='ISO-8859-1')

# print the REFUSAL DATE column
company_violations_df['REFUSAL_DATE']
print(company_violations_df['REFUSAL_DATE'])

# Convert the REFUSAL DATE column to datetime type
company_violations_df['REFUSAL_DATE'] = pd.to_datetime(company_violations_df['REFUSAL_DATE'])
# Extract the MONTH from the column
company_violations_df['MONTH'] = company_violations_df['REFUSAL_DATE'].dt.month
# Extract the YEAR from the column
company_violations_df['YEAR'] = company_violations_df['REFUSAL_DATE'].dt.year

0          9-Oct-20
1          7-Apr-20
2         27-Aug-19
3         23-Oct-17
4         29-Jun-16
            ...
163878    29-Jun-22
163879     3-Oct-23
163880     6-Apr-20
163881    24-Oct-22
163882     1-Apr-22
Name: REFUSAL_DATE, Length: 163883, dtype: object

In [22]:
group = company_violations_df.groupby(['LGL_NAME', 'MONTH', 'YEAR']).size().reset_index(name='Violation_Count')

largest_violation = group.sort_values(by='Violation_Count', ascending=False).head(1)

company_largest_violation = largest_violation['LGL_NAME'].iloc[0]

print(company_largest_violation)

largest_violation

COMERCIALIZADORA PEPSICO

                       LGL_NAME  MONTH  YEAR  Violation_Count
12001  COMERCIALIZADORA PEPSICO      4  2022              610